$milife-green: #8AC53F;
$milife-darkgreen: #4db748;

$milife-blue: #005273;
$milife-lightblue: lighten($milife-blue, 10%);
$milife-darkblue: darken($milife-blue, 10%);
$pastel-blue: #A8C4CF;
$milife-magenta: #E37B59;
$milife-grey: #9b9b9b;
$milife-shiningGrey: #c7c7c7;
$milife-orange: #fcb216;
$milife-yellow: #ffdd00;
$milife-yellow2: #EACF23;

$milife-icon: "../assets/images/milife-icon-white.svg";
$milife-pwd-key: '../assets/images/password-key-icon.svg';
$milife-confirm-email-icon: "../assets/images/confirm-email-icon.svg";
$milife-next-arrow: "../assets/images/next-arrow.svg";

$milife-previous-arrow: "../assets/images/previous-arrow.svg";

$milife-menu-open-icon: "../assets/images/menu-white.svg";
$milife-menu-close-icon: "../assets/images/menu-dark-close.svg";

$milife-search-icon: "../assets/images/search-icon.svg";
$milife-dropdown-icon: "../assets/images/chevron-down-solid.svg";

//previous-arrow.svg
//text-input-dropdown-arrow-white.svg
//thank-you-tick-green.svg



html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    //background-color: $milife-blue;
    margin: 0;
    padding: 0;
    height: 100%;
}

.loading {
    background-color:$milife-grey;
}

.text-input {
    border: 1px solid #fff;
    border-radius: 50px;
    background: #efefef;
    color: darken(grey, 20%);
    height: 50px;
    //padding-left: 20px;
    text-indent: 20px;
    font-size: 14pt;
    font-family: 'Montserrat';
    width: 300px;
    outline: none;
    //padding-top: 20px;
    //margin-top: 20px;
    &::placeholder {
        color: #232323;
        font-weight: 500;
    }
}


.error-message{
    color: $milife-magenta;
}

/* For Firefox */

input[type='number'] {
    // -moz-appearance:textfield;
}


// /* Webkit browsers like Safari and Chrome */

// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
// }


// input[type='number'] {
//     appearance: textfield;
// }
// input[type='number']::-webkit-inner-spin-button,
// input[type='number']::-webkit-outer-spin-button,
// input[type='number']:hover::-webkit-inner-spin-button,
// input[type='number']:hover::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     margin: 0; }

.bg-blue {
    background-color: $milife-blue;
}
.bg-darkblue {
    background-color: $milife-darkblue;
}

.bg-lightblue {
    background-color: $milife-lightblue;
}
.bg-green{
    background-color: $milife-green;
}
.bg-orange{
    background-color: $milife-orange;
}
.bg-magenta {
    background-color: $milife-magenta;
}
.bg-grey{
    background-color: $milife-grey;
}
.bg-white{
    background-color: white;
}
.bg-yellow {
    background-color: $milife-yellow;
}
.bg-yellow2 {
    background-color: $milife-yellow2;
}
.bg-lightgrey {
    background-color: lighten($milife-grey, 30);
}

//font-color
.fc-blue {
    color: $milife-blue;
}
.fc-green{
    color: $milife-green;
}
.fc-orange{
    color: $milife-orange;
}
.fc-magenta {
    color: $milife-magenta;
}
.fc-grey{
    color: $milife-grey;
}
.fc-lightblue {
    color: $milife-lightblue;
}
.fc-white{
    color: white;
}
.fc-yellow {
    color: $milife-yellow;
}
.fc-yellow2{
    color: $milife-yellow2;
}
.fc-black {
    color: black;
}
.fc-darkgrey{
    color: #5c5c5c;
}
.fc-bluegrey{
    color:#6F7C8E;
}
.fc-pastel-blue{
    color: $pastel-blue;
}


.br-10{
    border-radius: 10px;
}

.br-20{
    border-radius: 20px;
}
.br-50{
    border-radius: 50px;
}

.margin-auto {
    margin: auto;
}
.margin-zero-auto {
    margin: 0 auto;
}

.mt-10{
    margin-top: 10px;
}
.margin-10{
    margin: 10px;
}

.ml-0{
    margin-left: 0px;
}
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}

.mr-20{
    margin-right: 20px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.pl-10{
    padding-left: 10px;
}
.pr-10{
    padding-right: 10px;
}
.pl-20{
    padding-left: 20px;
}

.pr-10{
    padding-right: 10px;
}
.pr-20 {
    padding-right: 20px;
}
.pd-20 {
    padding: 20px;
}
.pd-10 {
    padding: 10px;
}
.pd-5 {
    padding: 5px;
}
.pt-10 {
    padding-top: 10px;
}
.pb-10 {
    padding-bottom:10px;
}
.height-80 {
    height: 80%;
}
.height-100 {
    height: 100%;
}

.width-80 {
    width: 80%;
}
.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

//heading-font1
.heading-1{
    font-size: 28pt;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.32pt;
    line-height: 43pt;
}
.heading-2{
    font-weight: 600;
    font-style: normal;
    letter-spacing: .44pt;
    line-height: 22pt;
}

.label-1{
    font-weight: normal;
    font-style: normal;
    font-size: 18pt;
    letter-spacing: 0.22pt;
    line-height: 22pt;
}

.fn-11{
    font-weight: normal;
    font-style: normal;
    font-size: 10pt;
    letter-spacing: normal;
    line-height: 12pt;
}


.fn-12{
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: normal;
    line-height: 14pt;
}


.fn-14{
    font-weight: normal;
    font-style: normal;
    font-size: 14pt;
    letter-spacing: normal;
    line-height: 18pt;
}

.fn-18{
    font-weight: normal;
    font-style: normal;
    font-size: 18pt;
    letter-spacing: 0.22pt;
    line-height: 22pt;
}

.fn-16{
    font-weight: normal;
    font-style: normal;
    font-size: 16pt;
    letter-spacing: 0.19pt;
    line-height: 19pt;
}


.fw-600{
    font-weight: 600;
}

.fw-500{
    font-weight: 500;
}

.opacity-34{
    opacity: .34;
}

.flex-spacebetween {
    display: flex;
    justify-content: space-between;
}

// generate arrow via css
[class^=arr-]{  /* Arrows @RCB */
    border:       solid currentColor;
    border-width: 0 .2em .2em 0;
    display:      inline-block;
    padding:      .20em;
}
.arr-right {transform:rotate(-45deg);}
.arr-left  {transform:rotate(135deg);}
.arr-up    {transform:rotate(-135deg);}
.arr-down  {transform:rotate(45deg);}


.border-box{
    box-sizing: border-box;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.ta-left {
    text-align: left;
}
.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.milife-button {
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #8AC53F;
    font-size: 13pt;
    outline: 0;
    padding: 20px 0 20px 0;
    cursor: pointer;
}

.button{
    background-color: #8AC53F;
    border: None;
    border-radius: 50px;
    padding: 25px;
    color: grey;
    font-size: 15pt;
    &:hover {
        color: white;
        cursor: pointer;
    }
    &:active {
        background-color: darken($milife-green, 20%);
    }
}


div{
    color: white;
}


.multiselect__option{
    color: black;
}

.multiselect__single{
    color: black;
}

.vdp-datepicker__calendar{
    .cell{
        color: #000;
    }

    .day__month_btn{
        color: $milife-blue;
    }
}