$milife-green: #8AC53F;
$milife-blue: #005273;
$milife-magenta: #E37B59;
$milife-grey: #9b9b9b;

$milife-icon: "../assets/images/milife-icon-white.svg";
$milife-pwd-key: '../assets/images/password-key-icon.svg';
$milife-confirm-email-icon: "../assets/images/confirm-email-icon.svg";
$milife-next-arrow: "../assets/images/next-arrow.svg";

$milife-previous-arrow: "../assets/images/previous-arrow.svg";

$milife-menu-open-icon: "../assets/images/menu-white.svg";
$milife-menu-close-icon: "../assets/images/menu-dark-close.svg";



//previous-arrow.svg
//text-input-dropdown-arrow-white.svg
//thank-you-tick-green.svg


html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    //background-color: $milife-blue;
    margin: 0;
    padding: 0;
    height: 100%;
}

.text-input {
    border: none;
    border-radius: 50px;
    color: darken(grey, 20%);
    height: 50px;
    //padding-left: 20px;
    text-indent: 20px;
    font-size: 15pt;
    font-family: Monteserrat Regular;
    width: 300px;
    outline: none;
    //padding-top: 20px;
    //margin-top: 20px;
    &::placeholder {
        color: lighten(grey, 10%);
    }
}

.error-message{
    color: $milife-magenta;
}

/* For Firefox */

input[type='number'] {
    // -moz-appearance:textfield;
}


// /* Webkit browsers like Safari and Chrome */

// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
// }


// input[type='number'] {
//     appearance: textfield;
// }
// input[type='number']::-webkit-inner-spin-button,
// input[type='number']::-webkit-outer-spin-button,
// input[type='number']:hover::-webkit-inner-spin-button, 
// input[type='number']:hover::-webkit-outer-spin-button {
//     -webkit-appearance: none; 
//     margin: 0; }
